body {
  font-family: 'Press Start 2P', cursive;
  background-color: #1a1a2e;
  color: #f8f8f2;
  text-align: center;
}

.logo {
  width: 120px;
  margin: 30px auto;
}

.stats {
  background: #0f3460;
  border: 2px solid #5dadec;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

h1, h2 {
  margin-top: 20px;
}

.list {
  background-color: #0f3460;
  border: 2px solid #5dadec;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.item {
  border-bottom: 1px solid #5dadec;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:last-child {
  border: none;
}

.approve-btn {
  background-color: #5dadec;
  color: black;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.approve-btn:hover {
  background-color: #00ff9d;
}

.complete-btn {
  background-color: #e94560;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.complete-btn:hover {
  background-color: #f76c6c;
}
